<% if User.current.logged? && @project.present? %>
  <div class="favorite-project">
    <% if favorite_for?(@project) %>
      <%= button_to l(:button_unfavourite),
                    toggle_favorites_path(project_id: @project.id),
                    method: :post,
                    class: 'icon icon-fav on' %>
    <% else %>
      <%= button_to l(:button_favourite),
                    toggle_favorites_path(project_id: @project.id),
                    method: :post,
                    class: 'icon icon-fav off' %>
    <% end %>
  </div>
<% end %>